/* FILE STRUCTURE
  - header
  - below header
  - elements created by js
    > load more
    > character code block
    > radicals in decompositions
*/

/* ========
    HEADER
  ========= */

.dict-header {
  padding: 40px 16px 0px 16px;
  background-color: #57342d;
  background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
  margin-top: 45px;
}
.dict-tag-selected {
  background-color: #3f2520;
  color: white;
}
.dict-tag-not-selected {
  background-color: #81574f;
  color: white;
}
#inputCharacters {
  width: 90%;
  margin: 8px;
  border-radius: 20px;
  border: 1.5px solid #cccccc;
}
#inputCharacters:focus {
  border: 1.5px solid #333333;
  outline: none;
}
.dict-button {
  background-color: #57342d;
  color: white;
  border-radius: 20px;
}

/* ==============
    BELOW HEADER
  =============== */

.dict-page-content-bg {
  background-color: #f8e5cf;
}
.dict-page-content {
  padding: 24px 16px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8e5cf;
}
.dict-block-comment {
  line-height: 1.8;
  padding: 16px 24px;
  background-color: #ffffff;
  border-radius: 25px;
  margin-top: 16px;
  margin-bottom: 16px;
  scroll-margin-top: 61px; /* 45 + 16 (margin top) */
}
.dict-block-comment a:hover {
  color: #9e7055;
}
.dict-example {
  padding: 1px 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: #f0f0f0;
  border-radius: 25px;
}
.code-type-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.code-type-list li {
  padding: 5px 5px 5px 35px;
}

/* =======================
    ELEMENTS CREATED BY JS
  ======================== */

.dict-block-hint {
  font-size: 1.1em;
  padding: 16px 24px;
  background-color: white;
  border-radius: 16px;
}
.dict-block-result-description {
  font-size: 1.1em;
  padding: 12px 24px;
  background-color: white;
  border-radius: 16px;
  margin-top: 16px;
  scroll-margin-top: 61px; /* 45 + 16 (margin top) */
}
.dict-block-result-char-list {
  font-size: 1.3em;
  border-radius: 16px;
  background-color: #f3f3f3;
  padding: 8px 16px;
  margin-bottom: 16px;
}
#result_download_btn:hover {
  color: #9e7055;
}
.dict-link-char {
  text-decoration: none;
}
.dict-link-char:hover {
  color: #9e7055;
  display: inline-block;
  transition: 0.1s;
  transform: scale(1.5);
}
/* =====[ load more ]===== */
.link-load-more {
  font-size: 0.8em;
  color: #a8a8a8;
  cursor: pointer;
}
.link-load-more:hover {
  color: #795548;
}
.button-load-more {
  display: block;
  margin: 30px auto;
  padding: 12px 28px;
  border: none;
  text-align:center;
  cursor:pointer;
  font-size: 1.3em;
  border-radius: 32px;
  background-color: #795548;
  color: white;
  transition: 0.2s;
}
.button-load-more:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}
/* =====[ character code block ]===== */
.dict-block-result {
  border-radius: 16px;
  background-color: white;
  padding: 16px 24px;
  margin-top: 16px;
  font-size: large;
  scroll-margin-top: 61px; /* 45 + 16 (margin top) */
}
.dict-block-result:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
/* =====[ radicals in decompositions ]===== */
#result_area .radical {
  cursor: text;
}
#result_area .radical-special {
  cursor: default;
}
#result_area .radical-special-sc {
  cursor: default;
}
#result_area .radical-sc {
  cursor: default;
}
