/* ------ index page ------ */
header {
  min-height: 100%;
  border: 1px solid transparent;  
}
/* https://codepen.io/P1N2O/pen/pyBNzX */
.header-color-style {
  background: linear-gradient(-45deg, #ec7652, #e9578f, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: header-gradient 30s ease infinite;
}
@keyframes header-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#site-name {
  text-align: center;
  margin: 20px 0 15px;
  color: white
}
#introduction {
  max-width:800px;
  line-height: 1.8;
  font-size: large;
  text-align: center;
  padding: 48px 16px;
  margin: auto;
}
