section {
  margin-top: 32px;
  scroll-margin-top: 77px; /* 45 + 32 (margin top) */
}
h1 {
  font-family: "Domine", "Noto Serif CJK TC Black", "Noto Serif CJK TC Bold",
    "Noto Serif CJK SC Black", "Noto Serif CJK SC Bold", "Noto Serif TC";
  font-weight: 700;
}
h2 {
  margin-top: 60px;
  font-family: "Domine", "Noto Serif CJK TC Bold", "Noto Serif CJK TC SemiBold",
    "Noto Serif CJK SC Bold", "Noto Serif CJK SC SemiBold", "Noto Serif TC";
  font-weight: 700;
  color: #5d0c0c;
}
h3 {
  margin-top: 40px;
  font-family: "Domine", "Noto Serif CJK TC Bold", "Noto Serif CJK TC SemiBold",
    "Noto Serif CJK SC Bold", "Noto Serif CJK SC SemiBold", "Noto Serif TC";
  color: #c95223;
}
h4 {
  margin-top: 30px;
  font-family: "Domine", "Noto Serif CJK TC Bold", "Noto Serif CJK TC SemiBold",
    "Noto Serif CJK SC Bold", "Noto Serif CJK SC SemiBold", "Noto Serif TC";
  color: #cc9b41;
}
h5 {
  margin-top: 30px;
  font-family: "Domine", "Noto Serif CJK TC Bold", "Noto Serif CJK TC SemiBold",
    "Noto Serif CJK SC Bold", "Noto Serif CJK SC SemiBold", "Noto Serif TC";
  color: #26a3b9;
}
#page-content {
  font-size: large;
  line-height: 1.8;
}
#page-content a:hover {
  color: #d8833d;
}
.question {
  display: block;
}
.question::before {
  content: "問：";
}
.answer {
  display: block;
}
.answer::before {
  content: "答：";
}
.block-qa {
  /* border: 2px solid; */
  margin-top: 15px;
  margin-bottom: 35px;
}
.btn-dl {
  cursor: pointer;
  margin: 4px;
  border-radius: 12px;
  background-color: #ffedcc;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

#page-content .btn-dl:hover {
  background-color: #f8d392;
  color: #000000;
}
.code {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: #f7f7f7;
  border: 1px solid #bbbbbb;
  padding: 4px 8px;
  border-radius: 5px;
  color: #f05a8c;
}
.comment {
  font-size: medium;
  padding: 5px 15px;
  border-left: 6px solid #c9c9c9;
}
