#middle_column {
  scroll-margin-top: 69px; /* 45 + 24 (margin top) */
}
.typing-header {
  padding: 50px 16px 24px 16px;
  background-color: #335544;
  background-image: repeating-linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    ),
    linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    );
  background-size: 70px 120px;
  margin-top: 45px;
}
.typing-header-title {
  display: inline-block;
  cursor: pointer;
  background-color: rgba(100, 199, 158, 0.3);
  border-radius: 20px;
  padding: 12px 24px;
}
.typing-header-title:hover {
  background-color: rgba(61, 172, 125, 0.8);
}

.typing-bg {
  background-color: #beebbe;
}

#hr_above_line_cur {
  border: none;
  border-top: 1px solid #105710;
  margin: 10px 0 10px;
}
/* ===================
    CURRENT CHARACTER
  ==================== */

#cur_ch-hint {
  margin-bottom: 20px;
  background-color: white;
  padding: 12px 16px;
  border-radius: 20px;
}

/* =====[ radicals in decompositions ]===== */

#cur_ch-hint .radical {
  cursor: text;
}
#cur_ch-hint .radical-special {
  cursor: default;
}
#cur_ch-hint .radical-special-sc {
  cursor: default;
}
#cur_ch-hint .radical-sc {
  cursor: default;
}

/* ==================
    CURRENT EXERCISE
  =================== */

#line_cur {
  margin-bottom: 5px;
  padding: 8px 16px;
  border-radius: 32px;
  background-color: #f8f8f8;
  font-size: 1.7em;
  min-height: 2.1em;
  user-select: none;
}
#line_next {
  margin-bottom: 3px;
  padding: 6px 16px 4px;
  font-size: 1.7em;
  line-height: 1.1;
  min-height: 1.6em;
  user-select: none;
  color: #999999;
}
/* ======================
    WRONG CHARACTER CODE
  ======================= */

.wrong_char_code_block {
  padding: 8px 16px;
  margin-top: 16px;
  border-radius: 20px;
  background-color: white;
  scroll-margin-top: 61px; /* 45 + 16 (margin top) */
}
.wrong-character-anchor {
  text-decoration: none;
  transition: transform 0.1s;
}
.wrong-character-anchor:hover {
  color: #4bb35c;
  display: inline-block;
  transform: scale(1.4);
}

/* timer btn */
#timer-btn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* stats */
.container-statistics {
  padding: 16px;
  border-radius: 16px;
  background-color: white;
  margin-bottom: 20px;
  text-align: center;
  overflow: auto;
}
.performance_title {
  margin-top: 10px;
}
.stats_number {
  font-size: 1.5em;
}

/* character state */
.correct {
  color: green;
}
.wrong {
  color: red;
}
.current {
  background-color: #e0e0e0;
  border-radius: 15%;
}

.typing-block-cust-exer-hint {
  padding: 0 16px;
}
.typing-input-field {
  font-size: 1.2em;
  clear: both;
  border: 1.5px solid transparent;
  font-family: "Noto Serif", "Noto Serif TC", "Noto Serif CJK TC",
    "Noto Serif CJK SC", serif;
}
.typing-input-field:focus {
  border: 1.5px solid #11471a;
  outline: none;
}

/* choosing exercises */
.typing-dtls-first {
  margin: 10px;
}
.typing-dtls-first summary {
  font-size: 1.1em;
}
.typing-block-dtls-first {
  margin-top: 10px;
  margin-bottom: 20px;
}
.typing-exer-series-title {
  color: brown;
}
.typing-dtls-second {
  margin: 5px;
}
.typing-dtls-second summary {
  font-size: 0.9em;
  color: #250606;
}
.typing-block-dtls-second {
  margin-top: 10px;
  margin-bottom: 20px;
}
.typing-dtls-third {
  margin: 5px;
}
.btn-built-in-exer {
  font-size: 12px;
  cursor: pointer;
  margin: 3px 2px;
  border-radius: 10px;
  background-color: #f1f1f1;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  transition: 0.2s;
}
.btn-built-in-exer:hover {
  background-color: #cfcfcf;
}

/* create your own exercise */
#cust_exer-input {
  padding: 8px;
  width: 95%;
  border: 1.5px solid #cccccc;
  border-radius: 15px;
  font-family: "Noto Serif", "Noto Serif TC", "Noto Serif CJK TC",
    "Noto Serif CJK SC", serif;
}
#cust_exer-input:focus {
  border: 1.5px solid #303030;
  outline: none;
}

/*------- buy me a cake -------*/
#buy-me-a-cake-block {
  padding: 16px 24px;
}
#buy-me-a-cake-block a:hover {
  color: green;
}
