#middle_column {
  scroll-margin-top: 69px; /* 45 + 24 (margin top) */
}
.typing-header {
  padding: 50px 16px 24px 16px;
  margin-top: 45px;
  background-color: rgb(56, 14, 0);
  background-image: radial-gradient(circle, rgb(82, 20, 0), rgb(31, 7, 0));
}
.typing-header-title {
  display: inline-block;
  cursor: pointer;
  background-color: rgba(165, 165, 165, 0.3);
  border-radius: 20px;
  padding: 12px 24px;
}
.typing-header-title:hover {
  background-color: rgba(245, 245, 245, 0.3);
}

.typing-bg {
  background-color: rgb(255, 220, 184);
  background-image: linear-gradient(
    160deg,
    rgb(255, 220, 184),
    rgb(255, 208, 184),
    rgb(255, 220, 184)
  );
}

#hr_above_line_cur {
  border: none;
  border-top: 1px solid #441b00;
  margin: 10px 0 10px;
}

/* ===================
    CURRENT CHARACTER
  ==================== */

#cur_ch-hint {
  margin-bottom: 20px;
  background-color: white;
  padding: 12px 16px;
  border-radius: 20px;
}
/* #cur_ch-hint:hover {
  box-shadow: 0 0 5px 2px rgba(160, 160, 160, 0.3);
} */

/* =====[ radicals in decompositions ]===== */

#cur_ch-hint .radical {
  cursor: text;
}
#cur_ch-hint .radical-special {
  cursor: default;
}
#cur_ch-hint .radical-special-sc {
  cursor: default;
}
#cur_ch-hint .radical-sc {
  cursor: default;
}

/* ==================
    CURRENT EXERCISE
  =================== */

#line_cur {
  margin-bottom: 5px;
  padding: 8px 16px;
  border-radius: 32px;
  background-color: #f8f8f8;
  font-size: 1.7em;
  min-height: 2.1em;
  user-select: none;
}
#line_next {
  margin-bottom: 3px;
  padding: 6px 16px 4px;
  font-size: 1.7em;
  line-height: 1.1;
  min-height: 1.6em;
  user-select: none;
  color: #333333;
}

/* ===== typing input field ===== */
#typing_input {
  font-size: 1.2em;
  padding: 8px 16px;
  border-radius: 32px;
  width: 100%;
  clear: both;
  border: 1.5px solid transparent;
  font-family: "Noto Serif", "Noto Serif TC", "Noto Serif CJK TC",
    "Noto Serif CJK SC", serif;
}
#typing_input:focus {
  border: 1.5px solid #3b3b3b;
  outline: none;
}

/* ===== typed lines block ===== */
#alr_lines {
  font-size: 1.2em;
  min-height: 2em;
  padding: 8px 16px;
  margin-bottom: 16px;
  border-radius: 32px;
  background-color: white;
  opacity: 0.6;
  transition: opacity 0.2s;
}
#alr_lines:hover {
  opacity: 0.9;
}

/* ===== wrong ch alr lines ===== */
#wrg_ch_alr_lines-link {
  font-size: 1.3em;
  min-height: 2em;
  background-color: white;
  padding: 8px 16px;
  border-radius: 32px;
}

/* ======================
    WRONG CHARACTER CODE
  ======================= */

.wrong_char_code_block {
  padding: 8px 16px;
  margin-top: 16px;
  border-radius: 20px;
  background-color: white;
  scroll-margin-top: 61px; /* 45 + 16 (margin top) */
}
.wrong-character-anchor {
  display: inline-block;
  text-decoration: none;
  transition: transform 0.1s;
}
.wrong-character-anchor:hover {
  color: #d42c2c;
  transform: scale(1.4);
}

/* timer btn */
#timer-btn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s;
}
#timer-btn:hover,
#timer-btn:focus {
  color: #e00000;
  transform: scale(1.2);
}

/* stats */
.container-statistics {
  padding: 16px;
  border-radius: 16px;
  background-color: white;
  margin-bottom: 20px;
  text-align: center;
  overflow: auto;
}
.performance_title {
  margin-top: 10px;
}
.stats_number {
  font-size: 1.5em;
}

/* character state */
.correct {
  color: #00a838;
}
.wrong {
  color: #e00000;
}
.current {
  background-color: #e0e0e0;
  border-radius: 15%;
}

.typing-block-cust-exer-hint {
  padding: 0 16px;
}

/* choosing exercises */
.typing-dtls-first {
  margin: 10px;
}
.typing-dtls-first summary {
  font-size: 1.1em;
}
.typing-block-dtls-first {
  margin-top: 10px;
  margin-bottom: 20px;
}
.typing-exer-series-title {
  color: brown;
}
.typing-dtls-second {
  margin: 5px;
}
.typing-dtls-second summary {
  font-size: 0.9em;
  color: #250606;
}
.typing-block-dtls-second {
  margin-top: 10px;
  margin-bottom: 20px;
}
.typing-dtls-third {
  margin: 5px;
}
.btn-built-in-exer {
  font-size: 12px;
  cursor: pointer;
  margin: 3px 2px;
  border-radius: 10px;
  background-color: #f1f1f1;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  transition: background-color 0.2s;
}
.btn-built-in-exer:hover {
  background-color: #cfcfcf;
}

/* create your own exercise */
#cust_exer-input {
  padding: 8px;
  width: 95%;
  border: 1.5px solid #cccccc;
  border-radius: 15px;
  font-family: "Noto Serif", "Noto Serif TC", "Noto Serif CJK TC",
    "Noto Serif CJK SC", serif;
}
#cust_exer-input:focus {
  border: 1.5px solid #303030;
  outline: none;
}

/*------- buy me a cake -------*/
#buy-me-a-cake-block {
  padding: 16px 24px;
}
#buy-me-a-cake-block a {
  text-decoration: none;
  color: #ff519a;
}
#buy-me-a-cake-block a:hover {
  text-decoration: underline;
}
